appnope==0.1.0
asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
coverage==4.5.1
coveralls==1.5.0
cryptography==2.3.1
decorator==4.3.0
docopt==0.6.2
enum34==1.1.6
eventbrite==3.3.3
Flask==1.0.2
idna==2.7
ipaddress==1.0.22
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==18.0.0
python-dateutil==2.7.3
requests==2.19.1
scandir==1.9.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.14.1
