{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Username</span>
  </div>
   <input type="text" name="username"  class="form-control" autofocus required id="id_username" autocomplete="off">
  {{ form.username.errors }}
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Password</span>
  </div>
   <input type="password" name="password"  class="form-control" autofocus required id="id_password" autocomplete="off">
   {{ form.password.errors }}
</div>


<br>
    <button class="btn btn-primary" type="submit">Login</button>
    <a class="btn btn-default" href="{% url 'signup' %}">Sign up</a>
  </form>
{% endblock %}