{% extends 'base.html' %}
{% block content %}

        {% if user.is_authenticated %}
          {{ user.username }}
          {{ user.email }}
          {{ user.first_name }}
          {{ user.last_name }}

          {% if not social %}
            <fb:login-button
              scope="manage_pages"
              onlogin="checkLoginState();">
            </fb:login-button>
            <p id="demo"></p>
          {% else %}
          <div>Connected with Facebook</div>
          {% endif %}

        {% endif %}

    <!-- javascripts -->
  {% include "facebook_script.html" %}

{% endblock %}


