{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="fb:app_id" content="503413226852581" />
    <meta property="og:type" content="entertainement" />
    <meta property="og:url" content="https://chatbot-event.herokuapp.com/" />
    <meta property="og:title" content="Chatbot Engine" />
    <meta property="og:image" content="https://lh6.googleusercontent.com/6KUfgWNZ-pWID38qwsQ04z-NQJqq37c_04Vy20UTHent_A-sB4fRCZoRDDGYCAydKWsWXmG4lyPNahjva6ci=w1920-h968" />
    <meta property="og:description" content="Chatbot Engine" />

    <link rel="stylesheet" href="{% static 'webview/custom.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Chatbot Engine</title>
  </head>
  <body class="text-center">
    <!-- main menu -->
    {% include "menu.html" %}

    <!-- main content -->
  <main role="main" class="container">
      <div class="jumbotron">
    {% block content %}
    {% endblock %}
        </div>
  </main>


    <!-- javascripts -->
  {% include "scripts.html" %}
  </body>
</html>
