<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script type="text/javascript">
        (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
    </script>
    <form action="/optionspostback" method="get">
    <input type="hidden" name="psid" id="psid">
    <h3>Pillows</h3>
    <input type="radio" name="pillows" value="soft" checked>Soft<br>
    <input type="radio" name="pillows" value="hard">Hard<br>
    <h3>Bed</h3>
    <input type="radio" name="bed" value="single" checked>Single<br>
    <input type="radio" name="bed" value="double">Double<br>
    <input type="radio" name="bed" value="twin">Twin<br>
    <h3>View</h3>
    <input type="radio" name="view" value="sea" checked>Sea<br>
    <input type="radio" name="view" value="street">Street<br>
    <input type="submit" value="Submit" id="submitButton">
</form>
</body>

</html>

</html>